.header-toolbar {
    display: flex;
    justify-content: space-between;
}

.games-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-toolbar, .filter-toolbar {
    margin-top: 20px;
}